*.psd filter=lfs diff=lfs merge=lfs -text
СДАЧИЗанятие filter=lfs diff=lfs merge=lfs -text
кружка filter=lfs diff=lfs merge=lfs -text
Ерошенкоzanyatie filter=lfs diff=lfs merge=lfs -text
*[[:space:]].a filter=lfs diff=lfs merge=lfs -text
C:UsersHPOneDriveРабочий filter=lfs diff=lfs merge=lfs -text
столЗанятие filter=lfs diff=lfs merge=lfs -text
кружкаДЛЯ filter=lfs diff=lfs merge=lfs -text
